.navy {
  background: #00838f;
  background: -moz-linear-gradient(-45deg, #00838f 0%, #7d4082 100%);
  background: -webkit-linear-gradient(-45deg, #00838f 0%, #7d4082 100%);
  background: linear-gradient(135deg, #00838f 0%, #7d4082 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00838f', endColorstr='#7d4082', GradientType=1);
}

.not-resizable {
  resize: none;
}

.marginTop-1em {
  margin-top: 1em;
}
