.activeLink {
  font-weight: bold !important;
}

#logo-pic{
  height:80px;
  width:80px;
}

.navbar{
  padding:0 !important;
}

nav a{
  color: #fff !important;
}

@media (max-width: 575px) {
  .title-name {
    display: none;
  }
}
@media (min-width: 576px) {
  .title-name {
    padding-left:15px;
  }
}

.navy {
  background: #00838f;
  background: -moz-linear-gradient(-45deg, #00838f 0%, #7d4082 100%);
  background: -webkit-linear-gradient(-45deg, #00838f 0%, #7d4082 100%);
  background: linear-gradient(135deg, #00838f 0%, #7d4082 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00838f', endColorstr='#7d4082', GradientType=1);
}

